extend layout
block content

  - each list in lists
    p
      a(href="/list/#{list.id}") #{list.name}
      if(list.cards.length)
        - each card in list.cards
          p
            .card-id ID: #{card.id}
            .card-name NAME: #{card.name}
            .card-desc DESC: #{card.desc}
            .card-assign ASSIGNED: #{card.idMembers}

      else
        p.no-cards NO CARDS