block card
  .print-card
      .priority
        img(src="#{bug.priorityUrl}")
        | #{bug.priorityName}
      .card-id #{bug.key}
      .card-name #{bug.summary}
      if(bug.assigneeName)
        pre.member-name
          .card-assigned #{bug.assigneeName}
      else
        pre.member-name
          .card-unassigned --- Unassigned ---
      .story-points #{bug.estimateStatistic.statFieldValue.value}
