block card
  p.small-card
    .card-specifics #{issue.key} : #{issue.typeName}
    a.print-tasks(href="/print/tasks/#{issue.key}") Print Sub-tasks
    .card-name #{issue.summary}
    .card-desc #{issue.description}
    .card-assigned #{issue.assigneeName}
