block card
  .small-story
    p.specifics #{issue.key} : #{issue.typeName}
    .story-name #{issue.summary}
    a.print-tasks(href="/print/tasks/#{issue.key}") Print Sub-tasks
    .assigned #{issue.assigneeName}
