block other
  -var printableIssue = arrayContains(['Sub-task', 'Blocker', 'Dev Sub-Task', 'QA Task'], issue.typeName)
  .small-other
    if(printableIssue)
      .task
        p.specifics #{issue.key} (#{issue.typeName} of #{issue.parentKey})
        .name #{issue.summary}
        .assigned #{issue.assigneeName}
    else
      .epic
        p.specifics #{issue.key} (#{issue.typeName})
        .name #{issue.summary}
        .assigned #{issue.assigneeName}