extend print
block content
  -var index = 1
  -var tableCount = 0
  - each item in subtasks
    -var typeId = item.fields.parent.fields.issuetype.id
    if(item.fields.status.name != "Done" && item.fields.status.name != "Resolved" && item.fields.status.name != "Closed")
      if index == 1
        tr(data-in="#{index}")
      if index == 4
        -index = 0
      -index++
      -tableCount++
      if tableCount > 12
        -tableCount = 1
        tr
          td.buffer(colspan=4)
      if typeId == 1
        td(style="border:1px solid red; outline: 1px solid red;").sub-task
          .story-id #{item.key}
          .checklist
              #{item.fields.summary)
          .parent-id (Parent #{parentKey})
      else
        td(style=
          "border:12px solid ##{colorHash(parentKey.substring(parentKey.indexOf('-')+1))};" +
          "outline: 12px solid ##{hashColor(parentKey.substring(parentKey.indexOf('-')+1))};"
          ).sub-task
          .story-id #{item.key}
          .checklist
            #{item.fields.summary)