extend print
block content
  -var index = 1
  -var tableCount = 0
  - each item in subtasks
    -var parentTypeId = item.fields.parent.fields.issuetype.id
    -var typeId = item.fields.issuetype.id
    -var type = item.fields.issuetype.id
    -var isQATask = item.fields.labels.indexOf("QA") > -1 || typeId == '10600'
    -var isDevTask = typeId == '10002'
    -var doneState = arrayContains(["Deployed", "Not a bug", "Code Done"], item.fields.status.name)
    if index == 1
      tr(data-in="#{index}")
    if index == 4
      -index = 0
    -index++
    -tableCount++
    if tableCount > 12
      -tableCount = 1
      tr
        td.buffer(colspan=4)
    if parentTypeId == 1
      td(style="border:1px solid red; outline: 1px solid red;").sub-task
        .story-id #{item.key}
        .checklist(class=isDevTask ? "dev-task" : "")
            #{item.fields.summary)
        .parent-id (Parent #{parentKey})
    else
      td(id='#{item.key}', class=isQATask ? "qa-label" : "", style=
        "border:12px solid ##{colorHash(parentKey.substring(parentKey.indexOf('-')+1))};" +
        "outline: 12px solid ##{hashColor(parentKey.substring(parentKey.indexOf('-')+1))};"
        ).sub-task
        button.remove(
          onclick='$("##{item.key}").remove();') Remove
        .story-id #{item.key}
        .checklist(class=isDevTask ? "dev-task" : "")(class=doneState ? "completed-task" : "")
          #{item.fields.summary)